@import "bulma.sass";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800,800i&display=swap);

$weight-bold: 800;

$family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
"Helvetica Neue", sans-serif;

.hs-demo {
  margin: 100px 100px;

  .card {
    margin-bottom: 20px;
  }

}
