{{ define "main" }}
<div class="hs-demo container">
  <div class="row">
    <div class="col">
      {{ $searchConfig := site.Params.searchConfig | jsonify }}
      <div class="hs-container" x-data="initSearch({{ $searchConfig }})" id="search-main" data-turbolinks-permanent>
        <div class="input-group input-group-lg mb-5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              {{ $icon := resources.Get "svg/heroicons/outline-md/md-search.svg" }}
              {{ $icon.Content | safeHTML }}
            </span>
          </div>

          <input type="search" x-model="query" @keyup.debounce.100ms="search()" class="form-control" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm">
        </div>

        <div x-show="query" class="hs-result-outer" style="display: none;">
          <div x-show.transition="results" class="hs-result-inner">
            <template x-if="results">
              <template x-for="item in results.first.hits" :key="item">
                <div class="card" style="width: 18rem;">
                  <img x-bind:src="item.image" class="card-img-top">

                  <div class="card-body">
                    <h5 class="card-title" x-html="item.title"></h5>
                  </div>
                </div>
              </template>
            </template>
          </div>
        </div>
      </div>
    </div>
    <div class="col" x-data="{ facets: null }" id="search-facets" data-turbolinks-permanent>
      <div
        @searchresult.document="genre = event.detail.first.facets.genre; facets = Object.keys(genre).map((key) => [key, genre[key]]);">
        <template x-if="facets">
          <template x-for="facet in facets" :key="facet">
            <p x-html="facet"></p>
          </template>
        </template>
      </div>
    </div>
  </div>
  {{ end }}